<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/styleSucc.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Results Page</title>
</head>
<body>
    <div class="second-main">
        <nav>
            <ul class="main-nav">
                <li><a href="/">HomePage</a></li>                
            </ul>
        </nav>
        <div class="header">
            <div>
                <h3 class="header-text">Uploaded Image</h3>
            </div>
            <div class="result-img-container">
                <img class="result-img" src="{{ url_for('static', filename='images/' + img) }}">
            </div>
        </div>

        <div class="info">
            <div>
                <h3 class="header-text">Model Prediction</h3>
            </div>
            <div>
                <table class="table-bordered text-dark table-custom">
                    <tr>
                        <th>Rank</th>
                        <th>Class</th>
                        <th>Probability</th>
                    </tr>
                    <tr>
                        <td>1st</td>
                        <td>{{ predictions.class1 }}</td>
                        <td>{{ predictions.prob1 }} %</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td>{{ predictions.class2 }}</td>                                                         
                        <td>{{ predictions.prob2 }} %</td>                                                      
                    </tr>                                                                                                               
                    <tr>
                        <td>3rd</td>
                        <td>{{ predictions.class3 }}</td>
                        <td>{{ predictions.prob3 }} %</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
